.transaction-log {
  display: block;
  color: #212529;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
  word-wrap: break-all;
  word-break: break-all;
}

.list-group{
  max-height: 300px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.table {
  border: 1px solid #ddd;
  background-color: white;
}

.table-body {
  max-height: 600px; 
  overflow: auto;
}

.float-right {
  float: right;
}
